
:root{
    --navbar-background-color: rgb(44, 43, 43);
    --navbar-text-color1:rgb(255, 255, 255);
    --navbar-text-hover-color:white;
    --sidebar-background-color:#ce92b7;
    --sidebar-background-hover-color:white;
    --sidebar-text-color:black;
    --xmark-background-color:#DFB6B2;
    --sidebar-a-border-color:white;
    --block-one-background:#8a526e;
}

.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .section-p1{
    padding: 20px 60px ;
  }
  .box-p1{
padding: 10px 15px;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.05rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    max-width: 100dvw;
    height: auto;
    overflow-x: hidden;
    background-image: url(pic/pexels-codioful-7130555.jpg);
}

#contact_btn{
    height:38px;
    width:10rem;
  background-color: #cd9eba;
    border:none;
    border-radius:4px;
    transition: all .1s ease-in-out;
}
#contact_btn:hover > a{
    transform:scale(1.1);
    color: #eecde1;
}
#contact_btn:hover {
    transform:scale(.95);
    background-color: #504d4d;
  
}
.re_nav {
    width: 100%;
    background-color: var(--navbar-background-color);
    border-bottom: 1px solid gray;
    padding-inline: 1rem;
    padding-right: 3rem;
    height: 8vh;
    position: fixed;
    top: 0;
    z-index: 999;
   
}

.re_nav .re_sidebarone {
    display: flex;
    gap: 4rem;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.re_nav ul li {
    list-style: none;
}

.re_nav a {
    text-decoration: none;
    display: inline-block; 
    transition: transform 0.2s ease; 
    color:var(--navbar-text-color1);
    font-family: "Cinzel", serif;
    letter-spacing: 1.2px;
}
.re_nav .re_sidebarone li:nth-child(1) {
    margin-right: auto;

}
#brandname{
    font-weight: 550;
font-size:2rem;
color: rgb(241, 228, 184);
}


.re_nav .re_sidebarone a:hover {
    color: var(--navbar-text-hover-color);
    transform: scale(1.1); 
}
.re_menu_icon{
    display: none;
}

.re_sidebar{
   
    position: fixed;
    top: 0;
    right:0;
    height:100vh;
    width:18rem;
    z-index: 999;
    box-shadow: -1px 1px 20px rgb(71, 69, 69);
    /* background-color:white ; */
    /* background-color: rgb(255, 255, 255); */
    background-color: var(--sidebar-background-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 0rem;
    transform: translateX(20rem);
    transition: all .4s ease-in-out;
    
}
.re_sidebar li{
    width: 100%;
}
.re_sidebar a{
  
   
    border-bottom: 1px solid var(--sidebar-a-border-color);
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
   
}
.re_sidebar a:hover{
background-color: var(--sidebar-background-hover-color);
}

/* .re_sidebar li:nth-child(2){
    
} */

#footer .fa-solid {
    font-size: 2rem;
}

.re_xmark_icon{
  
    padding: 1rem;
    padding-block: .5rem;
    background-color: var(--xmark-background-color);
    
}

.re_show_sidebar{
    transform: translateX(0rem);
}


@media  screen and (min-width:701px) and (max-width:1000px){
    .re_removable{
        display:none;
    }
    .re_menu_icon{
        display: flex;
    }
    
    }


/* for mobile size  */
@media screen and (max-width:700px){
 

    .re_removable{
        display:none;
    }
    .re_menu_icon{
        display: flex;
    }
   

}



